@model List<UserFile>

@{
    ViewData["Title"] = "Files";
}

@section Scripts {
    <script>

        $(document).ready(function () => {
            var hasStartCreatingExcel = '@TempData["StartCreatingExcel"]';

            if (hasStartCreatingExcel) {

                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: 'Excel File is being created,whenever completed you will be alerted ',
                    showConfirmButton: false,
                    timer: 1500
                })
            }
        })


    </script>
}

<h1>Files</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>File Name</th>
            <th>Created Date</th>
            <th>File Status</th>
            <th>Download</th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FileName</td>
            <td>@item.GetCreatedDate</td>
            <td>@item.FileStatus</td>
            <td>
                <a href="~/files/@item.FilePath" class="btn btn-primary @(item.FileStatus==FileStatus.Creating ? "disabled": "")">Download</a>
        </tr>
    }


</table>

